@import "tailwindcss";

@theme {
  --color-darkBg: #09090b;
  --color-accentBlue: #3b82f6;
  --color-cardBg: #18181b;
}

body {
  background-color: var(--color-darkBg);
  color: white;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}